html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, rgb(184, 37, 78), rgb(117, 44, 100));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
    'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.gameSection {
  margin-top: 3rem;
}
.gameArea {
  border-radius: 1rem;
  background-color: rgba(240, 248, 255, 0.3);
  width: 90rem;
  height: 50rem;
  display: flex;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.playerId {
  margin: 3rem 0;
}

.currentScoreSection {
  margin: 3rem 0;
  padding: 2rem 5rem;
  border-radius: 10px;
  background-color: rgb(255, 0, 76);
}

.current {
  color: rgb(206, 206, 206);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.currentScore {
  color: #fff;
  font-size: 3rem;
}

.player1Score {
  text-align: center;
}

.playerName {
  font-size: 4rem;
  text-transform: uppercase;
  color: #8f7697;
}

.score {
  color: rgb(255, 0, 76);
  font-size: 6rem;
}

.activePlayer {
  background-color: rgba(255, 255, 255, 0.5);
}

.diceImage {
  width: 9rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnSection {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50px;
  padding: 1rem 3rem;
  font-size: 2rem;
  display: block;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #928098;
}
.btn:hover {
  cursor: pointer;
  transform: translatey(10%);
  transition: transform 0.2s;
}

.newGameBtnSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.diceBtn {
  margin-bottom: 1rem;
}

.rollDiceImage {
  width: 3rem;
  margin-right: 1rem;
}

.hidden {
  display: none;
}
.result {
  width: 25%;
  border-radius: 10px;
  z-index: 10;
  font-size: 7rem;
  background-color: #928098;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 9rem 3rem;
}
.winner {
  background-color: rgba(0, 0, 0, 0.563);
}

@media screen and (max-width: 780px) {
  .gameArea {
    width: 90vw;
    height: 45rem;
  }
  .currentScoreSection {
    padding: 0.2rem 2rem;
  }
  .playerName {
    font-size: 3rem;
  }
  .diceImage {
    width: 7.5rem;
  }
  .player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (min-width: 780px) {
  .newGameBtnSection {
    transform: translateY(50%);
    margin-bottom: 3rem;
  }
}
